root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
#shell_variant      = posix
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
#function_next_line = true
